<p id="notice"><%= notice %></p>

<p>
  <strong>Deleted at:</strong>
  <%= @event.deleted_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @event.uuid %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
